.footerConteiner{
    background-color: white;
    color: black;
    margin-bottom: 0px;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.titleFooter{
    font-size: 15px;
}

.redesFooter{
    font-size: 10px;
}